  
<!DOCTYPE html>

{% if page.theme %}
{% assign theme = page.theme %}
{% elsif site.page-theme %}
{% assign theme = site.page-theme %}
{% endif %}

{% if page.html-title %}
{% assign og-title = site.title | append: " - " | append: page.html-title %}
{% elsif page.title %}
{% assign og-title = site.title | append: " - " | append: page.title %}
{% else %}
{% assign og-title = site.title %}
{% endif %}

{% if page.og-description %}
{% assign og-description = page.og-description %}
{% else %}
{% assign og-description = site.og-description %}
{% endif %}

{% if page.og-image %}
{% assign og-image = site.url | append: page.og-image %}
{% else %}
{% assign og-image = site.url | append: site.og-image %}
{% endif %}

{% if theme %}
<html>
{% else %}
<html>
{% endif %}
  <head>
    <meta property='og:title' content='{{ og-title }}'/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta property='og:image' content='{{ og-image }}'/>
    <meta property='og:description' content='{{ og-description }}'/>
    <meta property='og:url' content='{{ site.url | append: page.url }}'/>
    
    <meta name="twitter:card" content="summary_large_image">
    <meta property="twitter:domain" content="{{ site.url }}">
    <meta property="twitter:url" content="{{ site.url | append: page.url }}">
    <meta name="twitter:title" content="{{ og-title }}">
    <meta name="twitter:description" content="{{ og-description }}">
    <meta name="twitter:image" content="{{ og-image }}">
    
    {% if page.usemath and page.usemath == true %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.7/MathJax.js?config=TeX-MML-AM_CHTML" type="text/javascript"></script>
    {% endif %}
    
    {% if page.favicon-emoji %}
    <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 100 100%22><text y=%22.9em%22 font-size=%2290%22>{{ page.favicon-emoji }}</text></svg>">
    {% endif %}

    <link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css"
    />
  
    <link rel="stylesheet" type="text/css" href="{{site.baseurl}}/assets/main.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script src="{{site.baseurl}}/assets/js/dark-toggle.js"></script>
    
    <title>{{ og-title }}</title>
  </head>
  <body class="theme-{{ theme }} dark">
