<div class="navbar-fixed">
  <div class="row">
    <nav class="white">
      <div class="nav-wrapper bg-dark">
        <div class="col s12">
          <a href="/" class="brand-logo">
            {{ site.title }}
          </a>
          <ul class="right">
            <a class="dark-toggle" href="#" onpageshow="localStorage.getItem('mode') === 'dark' ? document.querySelector('body').classList.add('dark') : document.querySelector('body').classList.remove('dark')" onclick="localStorage.setItem('mode', (localStorage.getItem('mode') || 'dark') === 'dark' ? 'light' : 'dark'); localStorage.getItem('mode') === 'dark' ? document.querySelector('body').classList.add('dark') : document.querySelector('body').classList.remove('dark')" title="Toggle Dark Theme"><i class="material-icons left">brightness_high</i></a>
          </ul>
          {% if site.navbar-links %}
          <ul id="nav-mobile" class="right hide-on-med-and-down">
            {% for link in site.navbar-links %}
            <li><a class="nav-hover-jello" href="{{ link[1] }}"><div class="text">{{ link[0] }}</div></a></li>
            {% endfor %}
          </ul>
          {% endif %}
        </div>
      </div>
    </nav>
  </div>
</div>
