{% if site.social.github %}
<a href="https://github.com/{{ site.social.github }}" class="btn-floating btn-large waves-effect waves-light hover-jello" style="background-color: #24292e;">
  <img src="{{ site.baseurl }}/assets/img/github_mark.png" alt="" width="100%" class="circle">
</a>
{% endif %}
{% if site.social.twitter %}
<a href="https://twitter.com/{{ site.social.twitter }}" class="btn-floating btn-large waves-effect waves-light hover-jello" style="background-color: #1DA1F2;">
  <img src="{{ site.baseurl }}/assets/img/twitter_mark.png" alt="" width="100%" class="circle">
</a>
{% endif %}
{% if site.social.reddit %}
<a href="https://reddit.com/u/{{ site.social.reddit }}" class="btn-floating btn-large waves-effect waves-light hover-jello" style="background-color: #FF4500;">
  <img src="{{ site.baseurl }}/assets/img/reddit_mark.png" alt="" width="100%" class="circle">
</a>
{% endif %}
{% if site.social.itchio %}
<a href="https://{{ site.social.itchio }}.itch.io" class="btn-floating btn-large waves-effect waves-light hover-jello" style="background-color: #fa5c5c;">
  <img src="{{ site.baseurl }}/assets/img/itchio_mark.png" alt="" width="100%" class="circle">
</a>
{% endif %}