---
---

@import "syntax-highlighting";
@import "materialize";
@import "themes";

// Syntax highlighting sass properties and inclusion
$base-font-size: 1em;
$spacing-unit:     30px !default;

%vertical-rhythm {
    margin-bottom: $spacing-unit / 2;
}

/************************************
 * Do not display line breaks after *
 * divs (mostly line breaks after   *
 * after liquid tags                *
 ************************************/

div br {
    display: none;
}

/******************************
 * Add a shadow behind images *
 ******************************/

img {
    @extend .z-depth-1;
}

/*************************
 * Info Boxes base style *
 *************************/

.infobox {
    @extend .card-panel;
}

.infobox-title {
    padding-bottom: 1em;
    font-weight: bold;
    text-transform: uppercase;
}

/**********
 * Footer *
 **********/

.footer {
    @extend .card-panel;
    @extend .center-align;
}

/***********
 * Figures *
 ***********/

body {
    counter-reset: figure-counter;
}
  
.figure-caption::before {
    counter-increment: figure-counter;
    content: "Figure " counter(figure-counter) ": ";
    font-weight: bold;
}

.figure {
    @extend .center-align;
}

/*******************
 * Wrap code lines *
 *******************/
 code {
    white-space: pre-wrap
  }

/****************************************
 * 16:9 aspect for iframe and thumbnail *
 ****************************************/

// Thanks to SimonSimCity: https://stackoverflow.com/a/35153397

.aspect-ratio {
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 56.25%;
}

.aspect-ratio iframe {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
}

/**********************
 * Fix icon alignment *
 **********************/

.material-icons {
    vertical-align: middle;
}

/***************************
 * Thumbnail zoom on hover *
 ***************************/
 
.thumbnail {
    transition: transform 1s ease;
}
.thumbnail:hover {
    transform: scale(1.2,1.2);
}