---
---

@import "syntax-highlighting";
@import "materialize";
@import "legacy_themes";
@import "themes";
@import "animate";

// Syntax highlighting sass properties and inclusion
$base-font-size: 1em;
$spacing-unit:     30px !default;

%vertical-rhythm {
    margin-bottom: $spacing-unit / 2;
}

/************************************
 * Do not display line breaks after *
 * divs (mostly line breaks after   *
 * after liquid tags                *
 ************************************/

div br {
    display: none;
}

/******************************
 * Add a shadow behind images *
 ******************************/

img {
    @extend .z-depth-1;
}


/************************
 * Elevated code blocks *
 ************************/
div.highlighter-rouge {
    @extend .z-depth-1;
}

/*************************
 * Info Boxes base style *
 *************************/

.infobox {
    @extend .card-panel;
    @extend .z-depth-1;
}

.infobox-title {
    padding-bottom: 1em;
    font-weight: bold;
    text-transform: uppercase;
}

/**********
 * Footer *
 **********/

.footer {
    @extend .card-panel;
    @extend .center-align;
}

/***********
 * Figures *
 ***********/

body {
    counter-reset: figure-counter;
}
  
.figure-caption::before {
    counter-increment: figure-counter;
    content: "Figure " counter(figure-counter) ": ";
    font-weight: bold;
}

.figure {
    @extend .center-align;
}

/*******************
 * Wrap code lines *
 *******************/
 code {
    white-space: pre-wrap
  }

/****************************************
 * 16:9 aspect for iframe and thumbnail *
 ****************************************/

// Thanks to SimonSimCity: https://stackoverflow.com/a/35153397

.aspect-ratio {
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 56.25%;
}

.aspect-ratio iframe {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
}

.aspect-ratio img {
    position: absolute !important;
    object-fit: cover;
    min-width: 100%;
    min-height: 100%;
}

/**********************
 * Fix icon alignment *
 **********************/

.material-icons {
    vertical-align: middle;
}

/************************
 * Thick, short divider *
 ************************/

hr {
    border: 0;
    border-top: 1px solid rgba(0,0,0,.1);
}

hr.small {
    max-width: 6.25rem;
    margin: 1rem auto;
    border-width: 0.25rem;
    border-color: inherit;
    border-radius: 0.1875rem;
}

/****************************
 * Adjust anchor for navbar *
 ****************************/

a.anchor {
    display: block;
    position: relative;
    top: -60px;
    visibility: hidden;
}

/****************************
 * jello animation on hover *
 ****************************/

.hover-jello:hover {
    @extend .animate__animated, .animate__jello;
}

.nav-hover-jello:hover .text{
    @extend .animate__animated, .animate__jello;
}

/*****************************
 * Interactive post previews *
 *****************************/

 .post-preview .thumbnail {
    transition: transform 1s ease, filter 1s ease;
    transform: scale(1.0);
    filter: grayscale(0%);
    filter: brightness(100%);
    background-color: #ffffff;
}

.post-preview:hover .thumbnail {
    transform: scale(1.2);
    filter: grayscale(50%);
    filter: brightness(50%);
}

.post-preview .post-summary {
    @extend .card-content;
    @extend .white-text;
    position: absolute;
    z-index: 99;
    transition: opacity 1s ease;
    opacity: 0.0;
    margin: 0px 0px 0px 0px;
    width: 100%;
    height: 100%;
}

.post-preview:hover .post-summary {
    opacity: 1.0;
}

.post-preview .card-title {
    z-index: 1;
}

.post-preview .card-title:before {
    position: absolute;
    top: 20px;
    left: 10px;
    bottom: 15px;
    right: 10px;
    background-color: #000000;
    opacity: 50%;
    transition: opacity 1s ease;
    content: "";
    z-index: -1;
    border-radius: 20px;
}

.post-preview:hover .card-title:before {
    opacity: 0%;
}

.post-tags {
    width:100%;
    height: 20%;
    top: -0.5em;
    right: -0.5em;
}

.post-tags .badge {
    font-weight: 400 !important;
}

/************************************
 * Fix materialize css bullet lists *
 ************************************/

ul .page-content {
    padding-left: revert !important;
}

li .page-content {
    list-style-type: initial !important;
}
