---
---

@import "syntax-highlighting";
@import "materialize";
@import "themes";

// Syntax highlighting sass properties and inclusion
$base-font-size: 1em;
$spacing-unit:     30px !default;

%vertical-rhythm {
    margin-bottom: $spacing-unit / 2;
}

/************************************
 * Do not display line breaks after *
 * divs (mostly line breaks after   *
 * after liquid tags                *
 ************************************/

div br {
    display: none;
}

/******************************
 * Add a shadow behind images *
 ******************************/

img {
    @extend .z-depth-1;
}

/*************************
 * Info Boxes base style *
 *************************/

.infobox {
    @extend .card-panel;
}

.infobox-title {
    padding-bottom: 1em;
    font-weight: bold;
    text-transform: uppercase;
}

/**********
 * Footer *
 **********/

.footer {
    @extend .card-panel;
    @extend .center-align;
}