{% include head.html %}

{% if page.disable-navbar == nil or page.disable-navbar == false %}
{% include navbar.html %}
{% endif %}
<div class="container" style="max-width: 70em;">
    <div class="card-panel page-content">
        {% if page.title %}
        {% if page.hide-title == nil or page.hide-title == false %}
        <div class="valign-wrapper">
            <h1 class="center-align emphasis-high">{{page.title}}</h1>
        </div>
        {% endif %}
        {% endif %}
        {{ content }}
    </div>
</div>

{% include footer.html %}
