{% include head.html %}

<div class="container" style="max-width: 70em;">
  {% for post in site.posts %}
    <div class="col s12 m6 l3">
      <a href="{{ post.url }}">{{ post.title }}</a>
      <div class="card">
        <div class="card-image">
          <img src="images/sample-1.jpg">
          <div class="card-content">
            <span class="card-title">{{ post.title }}</span>
          </div>
          {% if post.gh-repo %}
          <div class="card-action">
            <a href="https://github.com/{{ post.gh-repo }}">Source on GitHub</a>
          </div>
          {% endif %}
        </div>
      </div>
    </div>
  {% endfor %}
</div>

{% include footer.html %}